build/
out/
tmp/
.gradle/
.sonar/
.tmp/
.idea/
*.iml
.settings/
.classpath
.project
dist/
.env
.DS_Store
.Trashes
*.swp
*.lock
package-lock.json
node_modules/
npm-debug.log
templates/
uploads/
ui/bundle.js
ui/client/*.js
ui/sys/*.js
